* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  // Colors
  --primary: #f7f8f9;
}

.page {
  background-color: var(--primary);
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .text-div,
  .price-div,
  .fieldset-div {
    margin-top: 15px;
  }

  .text-div,
  .price-div {
    display: flex;
    justify-content: space-between;
  }

  .fieldset-div {
    display: flex;
    flex-direction: column;
  }
}
